RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteCond %{REQUEST_URI} folder 
RewriteRule ^(.*)$ https://show.wisc.edu/folder/$1 [R,L]

AddHandler application/x-httpd-php5 .html .htm

SetEnvIfNoCase User-Agent .*googledocs.*apps-spreadsheets.* GOOGLE_SPREADSHEETS

<Files "jqko4IRSuwLqLo7VLCDjYk5nfmfJ5TgS.csv">
  order deny,allow
  deny from all
  allow from env=GOOGLE_SPREADSHEETS
</Files>